/***** - - -  Styling by Zack Labadie unless otherwise noted  - - - *****/
/***** - - -  Made with several pots of coffee in early 2018 - - -  *****/

/***** Set font-face *****/
@font-face {
    font-family: 'Larsseit';
    src: url('fonts/Larsseit-Light.woff2') format('woff2'),
        url('fonts/Larsseit-Light.woff') format('woff'),
        url('fonts/Larsseit-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Larsseit';
    src: url('fonts/Larsseit-LightItalic.woff2') format('woff2'),
        url('fonts/Larsseit-LightItalic.woff') format('woff'),
        url('fonts/Larsseit-LightItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Larsseit';
    src: url('fonts/Larsseit-Bold.woff') format('woff2'),
         url('fonts/Larsseit-Bold.woff') format('woff'),
         url('fonts/Larsseit-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Larsseit';
    src: url('fonts/Larsseit-BoldItalic.woff2') format('woff2'),
         url('fonts/Larsseit-BoldItalic.woff') format('woff'),
         url('fonts/Larsseit-BoldItalic.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
}

/***** Global styles *****/
html, body{
    min-height: 100%;
}
body{
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100vw;
    padding-bottom: 100px;
    position: relative;
}
h1{
    line-height: 1.35;
    color: #000;
    font-family: 'Larsseit', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.2em;
}
h2{
    font-family: 'Larsseit', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 1.6em;
}
h3{
    font-family: "t26-carbon",monospace;
    font-size: 1.5em;
    line-height: 1.4;
    font-weight: normal;
}
.rule hr{
    border: 1px solid #000;
    width: auto;
}
#home .rule{
    padding: 0 6em;
}
.light{
    opacity: .1;
}
p{
    font-family: "t26-carbon",monospace;
    line-height: 1.4;
}
a, a:visited{
    color: #000;
}


/***** Navigation bar *****/
nav{
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr 40px;
    grid-template-rows: 10px 30px 10px;
    grid-template-areas:
        ". . . . ."
        ". text-links monogram icon-links ."
        ". . . . .";
    align-items: center;
    background: #fff;
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.2s ease-in-out;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.07);
-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.07);
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.07);
}
nav a{
    text-decoration: none;
}
#nav-links{
    grid-area: text-links;
    justify-self: start;
}
#nav-links > a{
    font-family: "t26-carbon",monospace;
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
    padding-right: 1em;
    text-decoration: none;
    color: #000;
}
#nav-monogram{
    grid-area: monogram;
    justify-self: center;
}
#nav-monogram > a > img{
    width: 30px;
    height: auto;
    text-align: center;
}
#nav-icons{
    grid-area: icon-links;
    justify-self: end;
}
#nav-icons > a > img{
    width: 25px;
    height: auto;
    display: inline;
    padding-left: 1em;
}
.nav-up{
    top: -50px;
}

/***** Welcome screen *****/
#home{
    padding-top: 50px;
}
#welcome{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 6em minmax(260px, 600px) 12em;
    grid-template-rows: 6em 1fr 6em;
    grid-template-areas:
        ". . ."
        ". intro ."
        ". . .";
}
#welcome > div{
    grid-area: intro;
    align-self: center;
}
#welcome > div > h1{
    font-weight: normal;
}
.type-it span{
    font-family: 'Larsseit', "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline;
    font-weight: bold;
    color: #FF0053;
}

/***** Projects section *****/
#work{
    display: grid;
    grid-template-columns: 6em repeat(6, 1fr);
    grid-template-rows: 6em 1fr 6em;
    justify-items: start;
    align-items: center;
    min-height: 90vh;
}
#img-stack{
    grid-column: 5 / 8;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#work-links{
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.project{
    margin: 1.25em 0;
}
.project > a{
    color: #000;

}
.project:first-of-type{
    margin: 0 0 1.25em 0;
}
.project:last-of-type{
    margin: 1.25em 0 0 0;
}
#img-stack img, #img-stack video{
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    transition: left 0.4s ease-in-out;
}
#img-stack img.slide-left, #img-stack video.slide-left{
    left: 0;
}
.compile-link > a{
    background-image: linear-gradient(180deg, transparent 65%, #CBFF00 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size .3s ease;
}
.bevspot-link > a{
    background-image: linear-gradient(180deg, transparent 65%, #779ddb 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size .3s ease;
}
.lasso-link > a{
    background-image: linear-gradient(180deg, transparent 65%, #5FFFBA 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size .3s ease;
}
.other-link > a{
    background-image: linear-gradient(180deg, transparent 65%, #68c6e8 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size .3s ease;
}
.reclaim-link > a{
    background-image: linear-gradient(180deg, transparent 65%, #f15e47 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size .3s ease;
}
#more-link > a, #bio-contact > h2 > a, .back-link > h5 > a{
    color: #000;
    background-image: linear-gradient(180deg, transparent 65%, #FF0053 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size .3s ease;
}
.compile-link > a:hover,
.bevspot-link > a:hover,
.lasso-link > a:hover,
.reclaim-link > a:hover,
.other-link > a:hover,
#more-link > a:hover,
#bio-contact > h2 > a:hover,
.back-link > h5 > a:hover{
    background-size: 100% 100%;
    cursor: pointer;
}

/***** Bio section *****/
#bio{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 14em 14em auto;
    padding: 6em;
}

#bio-image{
    grid-column: 1 / 7;
    grid-row: 1 / 3;
    background-image: url('images/zack.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 620px;
}
/* #bio-image:hover{
    background-image: url('images/young.jpg');
} */
#bio-contact{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    justify-self: start;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#bio-contact h2{
    line-height: 1.8;
}
.columns{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 280px;
    -moz-column-width: 280px;
    column-width: 280px;
    padding: .75em 1em 1em 1.5em;
    background: #ffffff;
    flex: 1;
}
#bio-about{
    grid-column: 4 / 13;
    grid-row: 2 / 5;
    justify-self: start;
    align-self: start;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#bio-about p{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    display: inline-block;
    padding-right: 2em;
}

/***** Coming soon section *****/
#coming-soon{
    height: 100vh;
    width: 100vw;
    padding-top: 0;
}
#coming-soon main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em;
    height: 100%;
}
#coming-soon main h1{
    text-align: center;
}
#coming-soon main p{
    text-align: center;
    max-width: 600px;
}

/***** Work : General section *****/
.work-wrapper{
    padding: 3em 6em;
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.work-hero{
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
    box-sizing: border-box;
}
.project-brief{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.project-brief h1{
    max-width: 50%;
    margin-bottom: .35em;
    font-size: 2.5em;
}
.project-brief h4{
    max-width: 540px;
    font-family: 'Larsseit', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.4;
    margin-top: 0;
}
.project-brief h6, .other-work h6{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}
.project-brief p{
    margin-top: .5em;
}
.brief-intro{
    grid-column: 1 / 3;
    grid-row: 1;
    margin-bottom: 4em;
}
.brief-goal{
    grid-column: 1 / 3;
    grid-row: 2;
    padding-right: 8em;
}
.brief-goal p{
    max-width: 680px;
}
.brief-skills{
    grid-column: 3;
    grid-row: 2 / 4;
}
.brief-skills ul{
    padding-left: 1em;
    list-style-type: square;
    line-height: 1.75;
    margin-top: .5em;
}
.brief-skills ul li{
    font-family: "t26-carbon",monospace;
}
.brief-link{
    grid-column: 3;
    grid-row: 1;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    margin-bottom: 6em;
}
.project-link a{
    text-align: center;
    font-family: 'Larsseit', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 1em 1.5em .75em 1.5em;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0;
    vertical-align: center;
    font-size: .9em;
    transition: background-color 0.35s ease;
}
#compile .project-link a:hover{
    background-color: #b8e600;
}
#lasso .project-link a:hover{
    background-color: #52DEA1;
}
.brief-date{
    grid-column: 1;
    grid-row: 3;
}
.work-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 3em 0;
}
.work-section > div{
    box-sizing: border-box;
}
.work-wrapper .rule{
    margin: 6em 0;
}
.work-text h5{
    font-family: 'Larsseit', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0 0 1em 0;
}
.work-text p{
    margin: 0 0 1.5em 0;
    max-width: 490px;
}
.full-flex{
    width: 100%;
}
.full-flex .work-columns p{

}
.work-img video, .work-img img{
    width: 100%;
    max-height: 800px;
    height: auto;
}
.two-thirds-flex{
    width: 66%
}
.half-flex, .other-work h5{
    width: 50%;
    box-sizing: border-box;
}
.sm-pad-r{
    padding-right: 25px;
}
.sm-pad-l{
    padding-left: 25px;
}
.one-third-flex{
    width: 33%;
}
.new-row{
    margin-top: 80px;
}
.border{
    border: 1px solid #e6e6e6;
}
.shadow{
    -webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.2);
}
/* .half-flex .work-columns, .full-flex .work-columns{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 280px;
    -moz-column-width: 280px;
    column-width: 280px;
    column-gap: 40px;
    width: 100%;
} */
/* .work-columns p{
    max-width: 480px;
    vertical-align: top;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
} */
.work-text .work-columns{
    width: 100%;
}
.full-flex .work-columns{
    display: flex;
    flex-direction: row;
}
.full-flex .work-columns p{
    width: 50%;
    max-width: 480px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.full-flex .work-columns p:nth-child(odd){
    padding-right: 25px;
}
.full-flex .work-columns p:nth-child(even){
    padding-left: 25px;
}
.one-third-left{
    margin-left: 33%;
}
.end-link{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 8em 0;
}
.end-link p{
    max-width: 440px;
    text-align: center;
    opacity: .5;
}
.project-link a{
    font-size: 1em;
}
.other-work{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.other-work h6{
    width: 100%;
    margin-bottom: 2em;
}
.other-work h5{
    margin: 1em 0;
    box-sizing: border-box;
}
.other-work h5:nth-child(2n+1){
    padding-left: 25px;
}
.other-work h5 a{
    text-decoration: none;
}
.back-link{
    margin-top: 1.5em;
}
.back-link a{
    text-decoration: none;
    text-align: left;
}

/***** Work : Project specific sections *****/
#compile .work-hero{
    background: url('images/compile/compile-hero.jpg');
    background-position: bottom left;
    background-size: cover;
}
#lasso .work-hero{
    background: url('images/lasso/tv-mockup.jpg');
    background-position: 50% 30%;
    background-size: cover;
}
#bevspot .work-hero{
    background-color: #464f75;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 50px 50px 50px;
    overflow: hidden;
}
#bevspot .work-hero img{
    max-width: 100%;
    height: auto;
    max-height: 100%;
    align-self: center;
}
#compile .project-link a{
    background-color: #CBFF00;
}
#compile-logo{
    margin: 2.2em 0 2.2em 16%;
}
#lasso .project-link a{
    background-color: #5FFFBA;
}

/***** Footer section *****/
footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 60px 40px 30px 40px;
    background: #000;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
}
footer > a{
    text-decoration: none;
}
footer > a > img{
    width: 22px;
    padding: 0 .75em;
    height: auto;
    opacity: .45;
    transition: opacity .3s ease;
}
footer > a > img:hover{
    opacity: 1;
}
footer span{
    width: 100%;
    font-family: "t26-carbon",monospace;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
    font-size: .8em;
    opacity: .45;
}

/***** Coming soon section *****/
#coming-soon{
    height: 100vh;
    width: 100vw;
    padding-top: 0;
}
#coming-soon main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em;
    height: 100%;
}
#coming-soon main h1{
    text-align: center;
}
#coming-soon main p{
    text-align: center;
    max-width: 600px;
}

/***** Responsive styling *****/
@media (max-width: 1100px){
    .brief-goal{
        padding-right: 6em;
    }
    .project-brief h4{
        padding-right: 3em;
    }
}
@media (max-width: 1050px){
    #bio-image{
        grid-column:1 / 8;
    }
}
@media (max-width: 900px){
    nav{
        grid-template-columns: 25px 1fr 1fr 1fr 25px;
    }
    #home .rule{
        padding: 0 4em;
    }
    #welcome{
        grid-template-columns: 4em minmax(260px, 600px) 8em;
    }
    #work{
        grid-template-columns: 4em repeat(6, 1fr);
    }
    #img-stack{
        height: 80%;
    }
    .project{
        margin: 1.15em 0;
    }
    #bio{
        padding: 6em 4em;
    }
    .work-wrapper{
        padding: 3em 4em;
    }
    .brief-goal{
        padding-right: 4em;
    }
    .half-flex{
        width: 100%;
    }
    #compile .half-flex.work-text{
        margin-bottom: 2em;
        order: -1;
    }
    .new-row{
        margin: 0;
    }
    .work-text, .work-img{
        margin: 40px 0;
    }
    .work-text.other-work{
        margin: 0 0 40px 0;
    }
    .work-section{
        margin: -40px 0;
    }
    .half-flex .work-columns{
        display: flex;
        flex-direction: row;
    }
    .half-flex .work-columns p{
        width: 50%;
        max-width: 480px;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
    }
    .half-flex .work-columns p:nth-child(odd){
        padding-right: 25px;
        margin-bottom: 80
    }
    .half-flex .work-columns p:nth-child(even){
        padding-left: 25px;
    }
    .sm-pad-l{
        padding-left: 0;
    }
    .sm-pad-r{
        padding-right: 0;
    }
    .one-third-left{
        margin-left: 0;
    }
    .two-thirds-flex{
        width: 100%;
    }
    .work-img{
        text-align: center;
    }
    .work-img img{
        max-height: 800px;
        width: auto;
        max-width: 100%;
    }
    #compile-logo{
        margin: 1.2em 0;
    }
    footer{
        padding: 30px 40px 20px 40px;
    }
    .work-wrapper{
        margin-bottom: 0;
        margin: 0 auto;
    }
}
@media (max-width: 760px){
    h1{
        font-size: 1.9em;
    }
    h2{
        font-size: 1.45em;
    }
    .project{
        margin: 1.1em 0;
    }
    #bio-image{
        grid-column: 1 / 9;
    }
    .project-brief{
        grid-template-columns: 4fr 1fr;
    }
    .brief-goal{
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        margin-bottom: 2em;
    }
    .brief-skills{
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    .brief-skills ul{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-width: 225px;
        -webkit-column-width: 225px;
        -moz-column-width: 225px;
    }
    .brief-date{
        grid-column: 3;
        grid-row: 3 / 4;
    }
    .work-img img{
        max-height: 800px;
    }
    .end-link{
        margin: 5em 0;
    }
    .other-work h5{
        font-size: 1.25em;
        margin: .75em 0;
    }
    .full-flex .work-columns, .half-flex .work-columns{
        flex-wrap: wrap;
    }
    .full-flex .work-columns p, .half-flex .work-columns p{
        width: 100%;
        padding-right: 20px;
        padding-left: 0 !important;
    }
}
@media (max-width: 660px){
    #bio-about p{
        padding-right: 0;
    }
    #bio-image{
        grid-column: 3 / 13;
        grid-row: 1 / 3;
    }
    #bio-contact{
        display: none;
    }
    #bio-about{
        grid-column: 1 / 11;
        grid-row-start: 2;
    }
    .brief-intro{
        grid-column: 1 / 4;
        grid-row: 1;
        margin-bottom: 2em;
    }
    .brief-intro h4{
        margin-bottom: 0;
        padding-right: 0;
    }
    .brief-link{
        grid-column: 1 / 4;
        grid-row: 2;
    }
    .brief-goal{
        grid-column: 1 / 4;
        grid-row: 3;
    }
    .brief-skills{
        grid-row: 4;
        grid-column: 1;
    }
    .brief-date{
        grid-column: 2;
        grid-row: 4;
    }
    .new-row{
        margin-top: 60px;
    }
    #bevspot .work-hero{
        justify-content: flex-end;
    }
    #bevspot .work-hero img{
        max-width: none;
        width: auto;
        height: 100%;
    }
    body{
        padding-bottom: 120px;
    }

}
@media (max-width: 600px){
    h1{
        font-size: 1.7em;
    }
    section > hr{
        margin: 0 3em;
    }
    #welcome{
        grid-template-columns: 3em minmax(260px, 600px) 6em;
    }
    #work{
        grid-template-columns: 3em repeat(6, 1fr);
    }
    #home .rule{
        padding: 0 3em;
    }
    #img-stack{
        grid-column: 3 / 8;
        height: 100%;
        opacity: .4;
    }
    #work-links{
        grid-column: 2 / 8;
        z-index: 2;
    }
    #bio{
        padding: 6em 3em;
    }
    .columns{
        padding: .75em 2em 1em 0em;
    }
    .work-wrapper{
        padding: 1.5em 3em;
    }
    .brief-goal{
        grid-column: 1 / 3;
        grid-row: 3;
        padding-right: 0;
        margin-bottom: 0;
    }
    .brief-skills{
        grid-column: 1 / 3;
        grid-row: 5;
        margin-top: 1.5em;
    }
    .brief-date{
        grid-column: 1 / 3;
        grid-row: 4;
        margin-top: 1.5em;
    }
    .brief-link{
        margin-bottom: 4.5em;
    }
    .end-link{
        margin: 3em 0;
    }
    .other-work h5{
        width: 100%;
        margin: .8em 0;
    }
    .other-work h5:nth-child(2n+1){
        margin-left: 0;
        padding-left: 0;
    }
    .project-link a{
        font-size: .9em;
    }
    .end-link{
        box-sizing: border-box;
        padding: 0 1em;
    }
    .end-link p{
        max-width: 350px;
        text-align: center;
        opacity: .5;
    }
}

@media (max-width: 530px){
    #lasso .work-hero{
        background-position: 15% 30%;
        background-size: cover;
    }
}

@media (max-width: 490px){
    nav{
        grid-template-columns: 25px 1fr 25px 1fr 25px;
    }
    #nav-monogram{
        display: none;
    }
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1.3em;
    }
    #bio{
        padding: 6em 0;
        grid-template-rows: 16em auto;
    }
    #bio-image{
        grid-column: 1 / 13;
        grid-row: 1 / 3;
    }
    #bio-about{
        grid-column: 1 / 13;
        grid-row-start: 2;
    }
    .columns{
        padding: 1em 2em 1em 2em;
    }
    #coming-soon main{
    padding: 3em;
    }
    .work-wrapper{
        padding: 1.5em 25px;
    }
    .work-wrapper .rule{
        margin: 4em 0;
    }
    .new-row{
        margin-top: 40px;
    }
    .project-link a{
        font-size: .8em;
    }
    /* #bevspot .work-hero img{
        height: 100%;
    } */
}
