/***** - - -  Styling by Zack Labadie unless otherwise noted  - - - *****/
/***** - - -  Made with several pots of coffee in January 2018 - - -  *****/

/***** Set font-face *****/
@font-face {
    font-family: 'Larsseit';
    src: url('fonts/subset-Larsseit-Italic.woff2') format('woff2'),
        url('fonts/subset-Larsseit-Italic.woff') format('woff'),
        url('fonts/subset-Larsseit-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Larsseit';
    src: url('fonts/subset-Larsseit-Bold.woff') format('woff2'),
        url('fonts/subset-Larsseit-Bold.woff') format('woff'),
        url('fonts/subset-Larsseit-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Larsseit';
    src: url('fonts/subset-Larsseit.woff2') format('woff2'),
        url('fonts/subset-Larsseit.woff') format('woff'),
        url('fonts/subset-Larsseit.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Larsseit';
    src: url('fonts/subset-Larsseit-BoldItalic.woff2') format('woff2'),
        url('fonts/subset-Larsseit-BoldItalic.woff') format('woff'),
        url('fonts/subset-Larsseit-BoldItalic.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
}

/***** Global styles *****/
.body{
    overflow: hidden;
    padding-top: 50px;
}
.mono{
    font-family: "t26-carbon",monospace;
}
.sans{
    font-family: sans-serif;
}
h1{
    line-height: 1.35;
    color: #000;
    font-family: 'Larsseit', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2{
    font-family: 'Larsseit', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
}
section > hr{
    border: 1px solid black;
    margin: 0 6em;
    width:auto;
    opacity: .1;
}
p{
    font-family: "t26-carbon",monospace;
    line-height: 1.4;
}

/***** Navigation bar *****/
nav{
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr 40px;
    grid-template-rows: 10px 30px 10px;
    grid-template-areas:
        ". . . . ."
        ". text-links monogram icon-links ."
        ". . . . .";
    align-items: center;
    background: #fff;
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.2s ease-in-out;
}
nav a{
    text-decoration: none;
}
#nav-links{
    grid-area: text-links;
    justify-self: start;
}
#nav-links > a{
    font-family: "t26-carbon",monospace;
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
    padding-right: 1em;
    text-decoration: none;
    color: #000;
}
#nav-monogram{
    grid-area: monogram;
    justify-self: center;
}
#nav-monogram > a > img{
    width: 30px;
    height: auto;
    text-align: center;
}
#nav-icons{
    grid-area: icon-links;
    justify-self: end;
}
#nav-icons > a > img{
    width: 25px;
    height: auto;
    display: inline;
    padding-left: 1em;
}
.nav-up{
    top: -50px;
}

/***** Welcome screen *****/
#welcome{
    height: 100vh;
    display: grid;
    grid-template-columns: 6em 7fr 8fr 6em;
    grid-template-rows: 6em 1fr 6em;
    grid-template-areas:
        ". . . ."
        ". intro . ."
        ". . . .";
}
#welcome > div{
    grid-area: intro;
    align-self: center;
}
#welcome > div > h1{
    font-weight: normal;
}
.type-it span{
    display: inline;
    font-weight: bold;
    color: #FF0053;
}

/***** Projects section *****/
#work{

    height: 100vh;
    display: grid;
    grid-template-columns: 6em 4fr 5fr;
    grid-template-rows: 6em 1fr 6em;
    grid-template-areas:
        ". . ."
        ". work img"
        ". . .";
    justify-items: start;
    align-items: center;
    overflow: hidden;
}
#img-stack{
    grid-area: img;
    height: 100%;
    width: 100%;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
}
#work-links{
    grid-area: work;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#img-stack img{
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    transition: left 0.4s ease-in-out;
}
#img-stack img.slide-left{
    left: 0;
}
#bevspot-link > a:hover ~ .bev{
    left: 0;
    transition: left 0.4s ease-in-out;
}
#compile-link > a{
    background-image: linear-gradient(180deg, transparent 65%, #CBFF00 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size .3s ease;
}
#bevspot-link > a{
    background-image: linear-gradient(180deg, transparent 65%, #f49c57 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size .3s ease;
}
#lasso-link > a{
    background-image: linear-gradient(180deg, transparent 65%, #5FFFBA 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size .3s ease;
}
#reclaim-link > a{
    background-image: linear-gradient(180deg, transparent 65%, #f15e47 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size .3s ease;
}
#atk-link > a{
    background-image: linear-gradient(180deg, transparent 65%, #6ba6aa 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size .3s ease;
}
#more-link > a, #info-contact > h2 > a{
    color: #000;
    background-image: linear-gradient(180deg, transparent 65%, #FF0053 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size .3s ease;
}
#compile-link > a:hover,
#bevspot-link > a:hover,
#lasso-link > a:hover,
#reclaim-link > a:hover,
#atk-link > a:hover,
#more-link > a:hover,
#info-contact > h2 > a:hover{
    background-size: 100% 100%;
    cursor: pointer;
}

/***** Info section *****/
#info{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(auto-fill, [row] 6em);
    min-height: 100vh;
    padding: 6em;
    margin-bottom: 12em;
}
#info-image{
    grid-column: col / span 6;
    grid-row: row / span 3;
    background-image: url('images/zion.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
#info-contact{
    grid-column: col / span 3;
    grid-row-start: row 5;
    justify-self: start;
    align-self: stretch;
}
#info-contact h2{
    line-height: 1.8;
}
.columns{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    padding: 1em 1em 1em 2em;
    background: #ffffff;
}
#info-about{
    grid-column: col 4 / span 9;
    grid-row-start: row 3;
    justify-self: start;
    align-self: start;
}
#info-about p{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    display: inline-block;
    padding-right: 2em;
}
